*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
    /* color: white; */
    font-family: "Arial, Sans-serif";
    box-sizing: border-box;
}
.container1{
    background-image: url("worry-me.jpg");
    position:absolute;
    z-index: 1;
    background-position: right;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    background-color: 
    rgb(65, 63, 60);
    /* opacity: .8; */
    color: white;
    clear: both;
    
}
.container1:hover{
    opacity: 1;
    transition-duration: 1s;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* border: 1px solid crimson; */
    align-items: center;
}
nav h1{
    font-size: 2rem;
    margin-left: 20px;
}
.main-span{
    color: red;
}
.my-ul{
    display: flex;
    /* border: 1px solid white; */
}
.my-ul li{
    padding: 0 50px;
    list-style: none;
    font-size: 1.3em;
    text-shadow: 5px 5px 5px red;
    
}
.my-ul li a{
    color: white !important;
    text-decoration: none;
}
.main-btn{
    margin-right: 5em;
    border: 1px solid;
    font-size: 1.3em;
    border: none;
    background: none;
    text-shadow: 5px 5px 5px red;
    color: white;

}
.main-btn:hover{
    background-color: rgb(245, 63, 18);
    transition: transform .2s;
    transform: scale(1.1);
    box-shadow: 12px 12px 40px rgb(247, 64, 8);
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
}
.my-ul li a:hover{
    background-color: rgb(245, 63, 18);
    transition: transform .2s;
    /* transform: scale(1.1); */
    box-shadow: 12px 12px 40px rgb(247, 64, 8);
    border-radius: 5px;
    padding: 5px;
    color: white;

}
.typing{
    overflow: hidden;
      /* border-right: .1em solid orange; */
      /* white-space: nowrap; */
      animation: 
      typing 2s steps(20, end) forwards;
      font-size: 1.6rem;
      width: 20%;
      /* padding: 40px; */
      color: aqua;
      font-size: 2em;
      margin: 3em 10%;
}
@keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }

.my-span{
    font-size: 2em;
    margin-left: 10px;
}
.my-span:hover{
    color: orange;
    transition-duration: 1s;
    cursor: cell;
}
#my-id{
    margin-right: 10px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}
#my-id{
    font-size: 1.2em;
}
#krishna{
    font-size: 1.2em;
    transition-duration: 1s;
    color: skyblue;
}

.two{
    position: absolute;
    top: 70%;
    text-align: center;
    /* bottom: 20%; */
    background-color: black;
    color: white;
    padding: 100px;
    line-height: 28px;
    padding-bottom: 50px;
}
.about{
    font-style: italic;
    margin: 40px 70px;
    margin-bottom: 130px;
    text-align: center;
    word-spacing: 1px;
    font-size: 1.1em;
}
.about:hover{
    transform: scale(1.2);
    transition-duration: .3s;
}
.three{
    border-top: 3px solid greenyellow;
    color: rgb(53, 46, 46);
    position: absolute;
    top: 120%;
    width: 100%;
    height: 60vh;
    text-align: center;
    background-color: rgb(240, 190, 53);

}
.skills-h1{
    color: rgb(56, 48, 128);
}
.skills-h1,.skills-ul{
    margin-top: 30px;
}
.skills-ul{
    line-height: 50px;
    font-size: 1.3em;
    font-weight: bold;
}
.skills-ul li:hover{
    text-decoration: underline overline;
    line-height: 40px;
    text-decoration-color: orange;
    transform:scale(1.5);
}

.four{
    position: absolute;
    top: 190%;
    margin: 0px 380px;
    color: white;
    background-color: black;
}
.four h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}
.four img{
    width: 600px;
    display: block;
    margin: auto;
    padding: 40px;
}

.four img:hover{
    box-shadow: 2px -2px 12px 5px blue;
    transition: .7s;
}
.last{
    position: absolute;
    top: 340%;
    width: 100%;
    margin: auto;
}
.last h1{
    position: absolute;
    left: 110px;
    font-size: 3em;
    color: rgb(128, 230, 128);
}
.last h1:hover{
    text-decoration: underline;
}
.last form{
    position: absolute;
    left: 40%;
}
form label{
    position: relative;
    margin: 45px;
    left: -158px;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(31, 85, 85);
}
form input{
    width: 200%;
    margin: 10px;
    font-size: 1.2em;
    position: relative;
    left: -48%;
    padding: 4px;
    border-radius: 10px;
    border-color: skyblue;
    
}
form input:hover{
    box-shadow: 2px -1px 10px rgb(230, 99, 66);
}
form input:hover{
    border: none;
}
form button{
    font-size: 1.2em;
    position: relative;
    left: 100px;
    margin: 15px;
    border-radius: 11px;
    padding: 4px;
}
form button:hover{
    background-color: rgb(241, 66, 66);
    color: white;
    
}
footer{
    position: absolute;
    top: 416%;
    padding: 60px;
    color: white;
    background-color: rgb(100, 96, 96);
    width: 100%;
    height: 150px;
    font-size: 2em;
    text-align: center;
    letter-spacing: 20px;
   
}

.fa-linkedin:hover{
    color: rgb(122, 122, 243);
}
.fa-instagram:hover{
    color: rgb(230, 111, 75);
}
.fa-facebook:hover{
    color: rgb(89, 89, 236);
}
.fa-twitter:hover{
    color: skyblue;
}